@import '../App.scss';

.Deck {
  width: 200px;
  height: 120px;
  background: linear-gradient(to right, #35477d, #f67280);
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  @extend %xy-centered;

  color: white;
  // margin-right: 50px;
  // margin-bottom: 50px;
}
