@import '../App.scss';

.DeckEdit {
  h5,
  h6 {
    font-weight: bolder;
    margin-left: 5%;
  }

  h5 {
    font-size: 150%;
    color: $colorSecondary;
  }
  h6 {
    font-size: 120%;
    color: $colorPrimary;
  }

  .cards {
    position: absolute;
    height: 60%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .card {
      border: none;
      margin: 5%;
      height: 30%;
      -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.16);
      box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5%;

      input {
        &[name='key'] {
          color: $colorPrimary;
        }

        &[name='value'] {
          color: $colorSecondary;
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 5%;
    right: 5%;

    button {
      border-radius: 50px;
      width: 100px;

      height: 40px;
    }

    .button {
      &-cancel {
        background: $colorSecondary;
        margin-right: 5px;
      }
      &-done {
        background: $colorPrimary;
      }
    }
  }
}

@media only screen and (min-height: 600px) {
  .DeckEdit {
    .cards {
      height: 65%;
    }
  }
}

@media only screen and (min-height: 768px) {
  .DeckEdit {
    .cards {
      height: 70%;
      .card {
        height: 25%;
      }
    }
  }
}
