@import '../App.scss';

.Header {
  .logo {
    width: 70%;
  }

  .navbar-collapse {
    margin-top: 3%;
  }

  .navbar-toggler {
    padding: 0;
  }

  .nav-link {
    font-weight: 600;
  }

  button:hover {
    color: palevioletred;
  }
}

@media only screen and (min-width: 575px) {
  .Header {
    .logo {
      width: 100%;
    }

    .navbar-collapse {
      margin-top: 0;
    }
  }
}
