@import '../App.scss';

.LinkWithIcon {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  width: 60%;

  .icon {
    @extend %xy-centered;
  }

  .nav-link {
    grid-column-start: 3;
  }
}

@media only screen and (min-width: 992px) {
  .LinkWithIcon {
    grid-template-columns: 25% 70%;
    width: 100%;

    .nav-link {
      grid-column-start: 2;
    }
  }
}
