%x-centered {
  display: flex;
  justify-content: center;
}

%y-centered {
  display: flex;
  align-items: center;
}

%xy-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  &:focus {
    outline: 0;
  }
}

a,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;
  border: none;
  background: inherit;
  padding: 0;
}

a {
  color: #35477d;
}

.a-active {
  color: #f67280;
}

a:hover {
  color: palevioletred;
}

.vertical-line {
  border-left: 1px solid #6c5b7a;
  width: 10px;
}

.App {
  color: #35477d;

  .Nav {
    display: flex;
    flex-direction: column;
    img {
      width: 60%;
    }
    table {
      width: auto;
    }
  }
}
